# Dependencies
node_modules/
package-lock.json
pnpm-lock.yaml

# Next.js
.next/
out/
next.config.mjs
postcss.config.mjs

# Build and debug
build/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment
.env*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
